@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
    font-family: 'XD';
    src: url('XD') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'XD', Arial;
    text-align: center;
    box-sizing: border-box;
}


body{
    background-color: lightblue;
}

main{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    
    
    


    height: 70vh;
    width: 400px;
    background-color: rgb(145, 202, 221);
    border-radius: 8px;
}


h1{ 
    color: black;
    padding: 50px 0px;
}




div > p{
    padding: 10px 130px;
}




p#XD{
    background-color: rgba(0, 0, 0, 0.226);
    margin: 5px;
    border-radius: 8px;
}

p#XD:hover{
    background-color: greenyellow;
}


p#pog{
    background-color: rgba(0, 0, 0, 0.226);
    margin: 5px;
    border-radius: 8px; 
}

p#pog:hover{
    background-color: greenyellow;
}

p#frog{
    background-color: rgba(0, 0, 0, 0.226); 
    margin: 5px;
    border-radius: 8px;
    }

p#frog:hover{
    background-color: greenyellow;
}

a{
    text-decoration: none; 
}
